body {
  background: yellow;
  .list {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
  }
  footer {
    background: url('./images/pomodoro_clock.png') center center no-repeat;
  }
}