body {
  .wrapper {
    width: 600px;
    margin: 0 auto;
    .game {
      width: 100vw;
      height: 300px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      .blip {

      }
      .lightup {
        opacity: 1;
      }
      .circles {
        position: relative;
        opacity: 0.8;
        width: 100%;
      }
      .circle {
        fill: none;
      }
      .circle-one {
        position: absolute;
        left:20%;
        stroke-width: 15px;
        transform-origin: 49% 53%;
        animation: circles 4s linear infinite reverse;
      }
      .circle-two {
        position: absolute;
        top: 10px;
        left:20%;
        stroke-width: 12px;
        transform-origin: 47% 52%;
        animation: circles 3.9s linear infinite;
      }
      .circle-three {
        position: absolute;
        left:20%;
        top: -2px;
        stroke-width: 10px;
        transform-origin: 51% 53%;
        animation: circles 4.1s linear infinite;
      }
      #yellow-one {
        stroke: #fdd835;
      }
      #yellow-two {
        stroke: #ffeb3b;
      }
      #yellow-three {
        stroke: url(#yellow-radial);
      }
      #red-one {
        stroke: #d32f2f;
      }
      #red-two {
        stroke: #e53935;
      }
      #red-three {
        stroke: url(#red-radial);
      }
      #green-one {
        stroke: #43a047;
      }
      #green-two {
        stroke: #4caf50;
      }
      #green-three {
        stroke: url(#green-radial);
      }
      #blue-one {
        stroke: #1e88e5;
      }
      #blue-two {
        stroke: #2196f3;
      }
      #blue-three {
        stroke: url(#blue-radial);
      }

      @keyframes circles {
        0% {
          transform: rotate(0) scale(0.85);
        }
        50% {
          transform: rotate(360deg) scale(1.03);
        }
        100% {
          transform: rotate(720deg) scale(0.85);
        }
      }
    }
  }
  footer {

  }
}